body {
  margin: 0%;
  padding: 0%;
}
.heading {
  color: rgb(3, 70, 77);
}

/* Main navbar container */
#main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background: #1cc6c6;
  border-bottom: 1px solid #045468;
}

/* Logo section */
#logo {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
}
#logo > img {
  height: auto;
  width: auto;
  border-radius: 50%;
}
/* Search bar box */
#searchbar {
  height: 40px;
  width: 30%;
  border: 1px solid rgb(5, 59, 71);
  border-radius: 6px;
  display: flex;
  align-items: center;
}

/* Search input */
#searchinput {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* User icon box */
#userIcon {
  height: 40px;
  width: 40px;
  background: #ccc;
  border-radius: 50%;
}
